<div class="container sm-12 md-8 lg-5 px-5 px-sm-0">

    <div class="row mt-5">
        <div class="top-heading col-md-8 mx-auto">
            <div class="top-text-box text-light mt-4">
                <h1>Welcom to <strong>CoffeeBeats</strong>!</h1>
                <h4 class="mt-5">コーヒーで、心躍る。</h4>
                <h4>コーヒー好きのコーヒー好きによるコーヒー好きのためのサイト</h4>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="contents-box mx-auto flex">

                <div class="leaning-box d-inline-block">
                    <div class="mt-5 text-light text-center">
                        <h4>Leaning</h4>
                        <p class="mt-2">#コーヒーについて知ろう！</p>
                    </div>
                </div>
                <div class="communicate-box d-inline-block ml-3">
                    <div class="mt-5 text-light text-center">
                        <h4>Communicate</h4>
                        <p>#コーヒー仲間とつながろう。</p>
                    </div>
                </div>
                <div class="opinion-box d-inline-block ml-3">
                    <div class="mt-5 text-light text-center">
                        <h4>Opinion</h4>
                        <p>#自分にあったコーヒーを探そう。</p>
                    </div>
                </div>

        </div>
    </div>
</div>