<div class="container">

  <div class="row mt-5">
      <h4>あなたは…</h4>
  </div>
  <div class="row">
      <% if @result.is_answer == true %>
        <h4 class="ml-5"><strong>中南米系</strong></h4>
      <% else %>
        <h4 class="ml-5"><strong>アジア系</strong></h4>
      <% end %>
      <h4 class="ml-3">タイプがおすすめ！</h4>
  </div>

  <div class="row mt-3">
    <div class="type-detail">
      <p>このタイプの詳細はこちら</p>
      <% if @result.is_answer == true %>
        <a>Click here!</a>
      <% else %>
        <a>Click here!</a>
      <% end %>
    </div>
    
    <div class="link-btn">
      <p>そのほかのタイプを
        <%= link_to "みる。", results_path %>
      </p>

      <%= link_to "もう一度", start_questions_path, class:"btn btn-success" %>
    </div>
  </div>

</div>