<div class="container sm-12 md-8 lg-5 mx-auto px-5 px-sm-2">

  <div class="row mt-5">
    <h2 class="mx-auto"><strong>コーヒー診断</strong></h2>
  </div>

  <div class="row mt-3">
    <p class="mx-auto">こちらでは、いくつかの質問に「yes」か「no」で答えていただき、<br />
    その答えによってあなたにあったストレートコーヒーを提案いたします。<br />
    直感で自分に当てはまる方を選択してください。</p>
  </div>

  <div class="row mt-5">
    <div class="link-btn mx-auto">
      <a class="btn btn-success px-4" href="/questions/1">START!</a>
      <%= link_to "Return TOP", root_path, class:"btn btn-info ml-4" %>
    </div>
  </div>

</div>