<div class="container sm-12 md-8 lg-5 px-5 px-sm-0">

  <div class="row mt-5">
    <h4 class="mx-auto">Type 一覧</h4>
  </div>

  <div class="row mt-5">

    <div class="col-md-10 mx-auto d-flex justify-content-around">
      <a href="/results/1">
        <div class="type-1 mt-4">
          <div class="d-flex align-items-center justify-content-center" style="height:250px;"><strong>
            <h4 class="text-light bg-info">
              アフリカ系<br />
            ＃非水洗式
            </strong></h4>
          </div>
        </div>
      </a>

      <a href="/results/2">
      　<div class="type-2">
      　 <div class="d-flex align-items-center justify-content-center" style="height:250px;"><strong>
            <h4 class="text-light bg-info">
              アフリカ系<br />
            ＃水洗式
            </strong></h4>
          </div>
      　</div>
      </a>

      <a href="/results/3">
      　<div class="type-3">
      　 <div class="d-flex align-items-center justify-content-center" style="height:250px;"><strong>
            <h4 class="text-light bg-info">
              中南米系
            </strong></h4>
          </div>
      　</div>
      </a>

      <a href="/results/4">
        <div class="type-4 mt-4">
          <div class="d-flex align-items-center justify-content-center" style="height:250px;"><strong>
            <h4 class="text-light bg-info">
              アジア系
            </strong></h4>
          </div>
        </div>
      </a>
    </div>

  </div>
  <div class="row mt-5">
    <%= link_to "Return TOP", root_path, class:"btn btn-info mx-auto" %>
  </div>

</div>