<div class="container sm-12 md-8 lg-5 px-5 px-sm-0">

  <div class="row mt-5">
    <h4 class="mx-auto">Type 一覧</h4>
  </div>

  <div class="row mt-5">

    <div class="col-md-10 d-flex justify-content-around col-sm-12 d-flex flex-wrap mx-auto">

        <div class="type-1">
          <div class="d-flex align-items-center justify-content-center" style="height:250px;">
             <a href="/results/1">
              <h4 class="text-light bg-info"><strong>
                アフリカ系<br />
              ＃非水洗式
              </strong></h4>
            </a>
          </div>
        </div>

        <div class="type-2 ml-3">
            <a href="/results/2">
              <div class="d-flex align-items-center justify-content-center" style="height:250px;">
               <h4 class="text-light bg-info"><strong>
                アフリカ系<br />
              ＃水洗式
              </strong></h4>
              </div>
            </a>
      　</div>

      　<div class="type-3">
            <a href="/results/3">
              <div class="d-flex align-items-center justify-content-center" style="height:250px;">
               <h4 class="text-light bg-info"><strong>
                  中南米系
                </strong></h4>
              </div>
            </a>
      　</div>

        <div class="type-4 ml-3">
            <a href="/results/4">
              <div class="d-flex align-items-center justify-content-center" style="height:250px;">
               <h4 class="text-light bg-info"><strong>
                アジア系
               </strong></h4>
              </div>
            </a>
        </div>

    </div>

  </div>
  <div class="row mt-5">
    <%= link_to "Return TOP", root_path, class:"btn btn-info mx-auto" %>
  </div>

</div>