<div class="container sm-12 md-8 lg-5 px-5 px-sm-0">

  <div class="row mt-5">

  </div>

  <div class="row mt-3">
    <h4><strong><%= @result.result_type %></strong></h4>
  </div>

  <div class="row mt-3">
    <div class="text-box col-md-8 border p-3">
      <%= @result.type_detail %>
    </div>
  </div>

  <div class="row mt-3">
    <p>代表国：<%= @result.country %></p>
  </div>

  <div class="link-btn mt-5">
    <%= link_to "一覧に戻る", results_path, class:"btn btn-info" %>
  </div>
</div>